<div class="list-group">
  <div class="list-group-item">
    <form method="post" class="form-horizontal"
          ng-controller="PublishController">
      <div class="form-group">
        <label>Tweet</label>
        <textarea name="tweet" class="form-control"
                  ng-model="twt.tweet"></textarea>
      </div>

      <div class="input-group">
        <button type="button" class="btn btn-primary"
                ng-click="sendTweet()">Tweeter</button>
      </div>
    </form>
  </div>

  <div href="#" class="list-group-item" ng-repeat="t in tweets | filter: search">
    <div class="pull-right">

      <p>{{ t.created_at | date:'HH:mm:ss' }}</p>
      <button type="button"
              class="btn btn-danger"
              ng-click="deleteTweet(t)">
              <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
    <h4 class="list-group-item-heading">{{ t.user.username }}</h4>
    <p class="list-group-item-text">{{ t.tweet }}</p>
    <a href="{{ '/tweet/' + t._id }}">Voir le tweet</a>

  </div>

</div>
